/**
 * Variables
 */
$height: 700px;

/**
 * Globals
 */

.section-title {
	margin: 2px auto;
	text-align: center;
}

.card-img {
	height: 200px;
}

.vis-card {
	float: left;
	display: inline;
}

.vis-card .card-name {
	text-align: center;
	margin: 2px auto;
}

img.disabled {
	opacity: 0.4;
	cursor: default;
}

/**
 * Not-globals
 */

#dice-container {
	display: block;
	clear: both;
	position: fixed;
	left: 84%;

	img.dice-img {
		height: 100px;
		margin: 0;
		padding: 0;
		border: 0;
	}
}

#main-container {
	margin: 10px auto;
	width: 1300px;
}

#deck-container {
	margin: 0;
	padding: 0;
	width: 430px;

	display: inline-block;
	height: $height;
	overflow: auto;
	vertical-align: top;

	.card-img {
		height: 200px;
	}

	.vis-card .card-name {
		font-size: 0.9em;
	}

	.selectable-card:not(.disabled) {
		cursor: pointer;
	}
}

#btn-panel {
	clear: both;
	display: block;
	width: 100%;

	margin: 10px auto;
	text-align: center;

	.btn {
		margin-left: 5px;
	}
}

#player-container {
	clear: both;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0;
	width: 670px;
	height: $height;
	overflow: auto;

	.player-name {
		font-size: 1.2em;
		font-weight: default;
	}

	.plus-money {
		color: green;
	}

	.minus-money {
		color: red;
	}

	.player-name.playerTurn {
		color: red;
	}

	.player-cards {
		display: block;
		clear: both;
	}

	.card {

		img {
			// height: 100px;
		}

		.card-yield, .card-name {
			font-size: 0.9em;
			text-align: center;
		}

		.card-yield {
			margin: 0;
		}
	}

	.player-after {
		clear: both;
	}
}

/**
 * Animation
 */
@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(40px, -60px)
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(40px, -60px)
	}
}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: 3000ms;

	-webkit-animation-name: fadeOut;
	-webkit-animation-duration: 3000ms;

	opacity: 0;
	font-size: 2em;
	height: 0;
}

@keyframes gameOver {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes gameOver {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.gameOver {
	animation-name: gameOver;
	animation-duration: 2000ms;

	-webkit-animation-name: gameOver;
	-webkit-animation-duration: 2000ms;

	font-size: 4em;
	position: fixed;
	color: red;
	// left: 40%;
	top: 50%;
	z-index: 100;

	background-color: black;
	width: 100%;
	text-align: center;

	transform: rotate(45deg);
	padding: 0;
	margin: 0;
	// height: 30px;
	vertical-align: middle;
}

@-webkit-keyframes newDice {
	0% {
		opacity: 0;
		position: fixed;
		transform: translate(-500px, 300px) scale(2, 2);
		// height: 200px;
	}

	25% {
		opacity: 1;
		transform: translate(-500px, 300px) scale(2, 2);
	}

	40% {
		opacity: 1;
		transform: translate(-500px, 300px) scale(2, 2);
	}

	100% {
	}
}

@keyframes newDice {
	0% {
		opacity: 0;
		position: fixed;
		transform: translate(-500px, 300px) scale(2, 2);
		// height: 200px;
	}

	25% {
		opacity: 1;
		transform: translate(-500px, 300px) scale(2, 2);
	}

	40% {
		opacity: 1;
		transform: translate(-500px, 300px) scale(2, 2);
	}

	100% {
	}
}

#dice-container.newDice {
	-webkit-animation-name: newDice;
	-webkit-animation-duration: 1900ms;

	animation-name: newDice;
	animation-duration: 1900ms;
}

footer {
	color: #777;
	margin: 0 auto;
	text-align: center;
}

/**
 * Hide angular stuff on page load
 */
 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
 }
