<!DOCTYPE html>
<html ng-app="MachiKoroSimul">
	<head>
		<title>Machi Koro Simulation</title>
		<meta charset="utf-8" />

		<link rel="stylesheet" href="style.css" />

		<!-- CDN-hosted bootstrap -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />

		<link rel="stylesheet" href="visual.css" />
	</head>
	<body ng-controller="MachiKoroCtrl as game" ng-init="onLoad(game)">
		<div id="main-container">
			<div id="player-container">
				<div class="player" ng-repeat="player in game.players">
					<div class="player-name" ng-class="{ playerTurn: game.isPlayerTurn(player) }">{{ player.name }}</div>
					<div>Human Player <input type="checkbox" ng-model="player.isHuman" /></div>
					<div class="player-money">Money: {{ player.money }}</div>
					<div class="player-points">Points: {{ player.points }}</div>
					<div class="player-cards">
						<h5>Cards</h5>
						<div class="card-container">
							<div class="card" ng-repeat="(cardName, num) in player.cards" ng-class="getCardClass(cardName)">
								<span class="card-rolls">[{{ getCardRolls(cardName) }}]</span>&nbsp;
								<span class="card-name">{{ cardName }}</span>&nbsp;
								<span class="card-count">x {{ num }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="dice-panel">
				<span  ng-if="game.lastRoll !== null">
					<img ng-src="dice-{{ game.lastRoll[0] }}.png" />
					<img ng-if="game.lastRoll.length > 1" ng-src="dice-{{ game.lastRoll[1] }}.png" />
				</span>
			</div>
			
			<div class="card-container" ng-show="game.getCurrentPlayer().isHuman && game.state === 'BUY'">
				<h4>Cards for Sale</h4>
				<div class="card selectable-card" ng-repeat="cardName in game.getCurrentPlayer().getAffordableCards(game)" 
				     ng-class="getCardClass(cardName)" ng-click="game.buyCard(cardName, game.getCurrentPlayer())">
					<span class="card-name">{{ cardName }}</span>&nbsp;
					<span class="card-cost">(costs {{ getCardCost(cardName) }} coins)</span>&nbsp;
					<span class="card-rolls">[yields {{ getCardRolls(cardName) }} coins]</span>&nbsp;
					<span class="card-remain"> - {{ game.deck[cardName] }} remaining</span>
				</div>
				<div class="no-cards" ng-if="game.getCurrentPlayer().getAffordableCards(game).length === 0">You can't buy any cards</div>
			</div>

			<div id="btn-panel">
				<button class="btn btn-default" ng-click="game.rollDice()" ng-disabled="game.state !== 'ROLL'">Roll</button>
				<button class="btn" ng-click="game.evalStrat()"
				        ng-class="{ 'btn-danger': game.getCurrentPlayer().isHuman, 'btn-info': !game.getCurrentPlayer().isHuman }"
				        ng-disabled="game.state !== 'BUY'">
					{{ game.getCurrentPlayer().isHuman? "Finish Buying" : "Eval Strat" }}</button>
				
				<span ng-if="game.hasHumanPlayers()">
					<button class="btn btn-success" ng-click="game.skipBotTurns()"
						    ng-disabled="game.state !== 'ROLL' || game.getCurrentPlayer().isHuman">Skip Bot Turns</button>
				</span>

			</div>
		</div>

		<!-- google-hosted JQuery and Angular -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>

		<script src="utils.js"></script>

		<script src="cards.js"></script>
		<script src="player.js"></script>
		<script src="machi_koro_ctrl.js"></script>
		<script src="angular_loader.js"></script>
	</body>
</html>