#dice-panel {
	min-height: 150px;
	margin: 0;
	padding: 0;
}

#dice-panel img {
	margin: 0;
	padding: 0;
}

.dice-img {
	height: 100px;
}

.card-img {
	height: 200px;
}

.selectable-card {
	float: left;
}

.selectable-card .card-name {
	text-align: center;
	margin: 2px auto;
}

#buy-card-container {
	display: block;
	clear: both;
}

#btn-panel {
	clear: both;
	display: block;
}